<tr>
<td><span style="padding: <%= page.depth * 10 -%>px"> <%= link_to page.title, admin_page_url(page) -%></span> </td>
<td>
 <div class="navbar-right btn-group">
	 <%= link_to raw('<i class="icon-plus"></i>  Nieuwe pagina'), new_admin_page_url(:parent_id => page), :class=> 'btn btn-default btn-xs'%>
	<%= link_to raw('<i class="icon-remove"></i> Verwijder pagina'), admin_page_url(page), :confirm => "Weet u zeker dat u deze pagina wilt verwijderen?", :method => :delete, :action => "destroy", :class => 'btn btn-default btn-xs' -%>
 
 
 </div>
</td>
</tr>