<%= form_for [:admin, @group], html: {role: "form", class: "form-horizontal"} do |f| -%>
<div class="form-group">
	<%= f.label :title, :class => 'col-lg-2 control-label'%>
    <div class="col-lg-10">
		<%= f.text_field :title, :class => "form-control"%>
	</div>
</div>
<div class="form-group">
  <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit :class => "btn btn-default" %>
  </div>
</div>

<% end -%>