<%= render :partial =>'admin/shared/settings_navbar' -%>
<h2>Thumbnail formaten</h2>
<table class="table">
    <thead>
      <tr>
        <th>Titel</th>
        <th>Formaten</th>
      </tr>
    </thead>
	
	<tbody>
		<% @thumbnails.each do |t| %>
		<tr>
		<td><%= link_to t.title, edit_admin_thumb_style_url(t) -%></td>
		<td>
			<%= t.sizes -%>
			
		</td>
		</tr>
		
		<% end -%>
</tbody>
</table>
<nav class="opmenu">
<%= link_to raw('<i class="icon-plus"></i> Nieuw formaat'), new_admin_thumb_style_url, :class => 'btn btn-default' -%>
</nav>

