<%= render :partial =>'admin/shared/settings_navbar' -%>
<table class="table">
    <thead>
      <tr>
        <th>Instelling</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
	
	<tbody>
		<% @settings.each do |s| %>
		<tr>
		<td><%= link_to s.title, edit_admin_setting_url(s) -%></td>
		<td>
		</td>
		</tr>
		<% end -%>
</tbody>
</table>

<nav class="opmenu btn-group">
<%= link_to raw('<i class="icon-plus"></i> Nieuwe instelling'), new_admin_setting_url, :class => 'btn btn-default' -%><%= link_to raw('<i class="icon-plus"></i> Herstel standaard instellingen'), resetsettings_admin_settings_url, :class => 'btn btn-default' -%>

</nav>

